/**
 * Bootstrap Overwrites
 */
.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
	border-color: #2980b9;
}
.navbar-default {
	background-color: #2980b9;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: #2980b9;	
}

/**
 * Author: Alfie Besin
 */

/**
 * Header
 */
 .navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.main-content {
	background-color: #3498db;
}
.main-content .row-main-content {
	padding: 3% 0 3% 0;
}
.main-content h1.tagline {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 56px;
	font-weight: bold;
	text-align: center;
}
.main-content h4.sub-tagline {
	color: #fff;
	text-align: center;
	font-size: 24px;
}
.main-content .container-cta {
	text-align: center;
	margin: 4% 0 0 0;
}
.main-content .btn-cta-main {
	width: 185px;
}
.main-content .btn-cta {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}
.main-content .container-cta .cta-separator {
	color: #fff;
}

